body
  font-family: "Museo Sans Cyrl -700", sans-serif
img
  width: 100%
.container
  margin: auto
  width: 1170px 
@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 750px
    width: 95%
.button  
  padding: 18px 30px
  border-radius: 10px
  border: none
  background-color: $main-color
