// .top-btn
//   display: flex
//   height: 10000px
//   justify-content: center
// .fix-container
//   max-width: 1170px
//   position: fixed
//   left: auto
//   right: auto
.top-btn
  &-wrap
    font-size: 50px
    // border: 5px solid red
    position: fixed
    bottom: 5%
    right: auto
    left: auto
    width: inherit
    text-align: end
    // z-index: -1
  &__back-to-top
    position: absolute
    bottom: 5%
    right: 2%
    color: #7272709a
    // color: 
    // position: fixed
    // bottom: 5%
    // right: auto
    // left: auto
    // width: inherit 
    // text-align: end
    width: 50px
    text-align: center
    text-decoration: none
    z-index: 1
    display: none
    &:hover
      cursor: pointer
      font-size: 40px
      width: 40px 
      color: #ffd2007a
      border: 2px solid #ffd2007a
      border-radius: 50px
    &_active
      font-size: 40px 
      width: 40px

      display: inline-block
    &_focus
      font-size: 40px
      width: 40px

      color: #ffd2007a
      border: 1px solid $main-color
      border-radius: 50px

@media (max-width: 786px)
  .top-btn
    display: none