.portfolio.section
  padding: 100px 0
  background: $background-color url(../img/portfolio/portfolio-pattern.jpg) repeat-y center left
  background-size: 50%
  img
    max-width: max-content
.portfolio
  &__title
    max-width: 500px
    margin: auto
    margin-bottom: 100px
  &__arrow
    max-width: 120px
    padding-top: 70px
    margin: auto
    display: flex
    justify-content: space-between
.slider
  &__img
    margin: auto
  &__item
    outline: none
    

    
