@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url("MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
}

h1, h2, h3, h4, h5, h6, p, span {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.container {
  margin: auto;
  width: 1170px;
}

@media (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 550px;
    width: 90%;
  }
}

.button {
  padding: 18px 30px;
  border-radius: 10px;
  border: 1px solid #ffd200;
  background-color: #ffd200;
  outline: none;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
}

.button:hover {
  background-color: #ffe04d;
  border: 1px solid #ffe04d;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .button:hover {
    outline: none;
    background-color: #ffd200;
    border: 1px solid #ffd200;
  }
}

.section {
  padding: 90px 0;
}

.section-title {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 24px;
  font-size: 15px;
}

.input:focus {
  border: 1px solid #ffd200;
  outline: none;
}

.arrow__left, .arrow__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 7px 8px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  margin-top: 1px;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
}

.navbar__button {
  margin-top: -2px;
  margin-left: 29px;
  padding: 16px 29px 17px 29px;
  font-size: 13px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
}

.navbar__phone {
  display: inline-block;
  margin-top: 6px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
}

@media (max-width: 768px) {
  .navbar__button {
    padding: 20px 28px;
  }
  .navbar__logo {
    width: 120px;
  }
}

@media (max-width: 567px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logogit {
    width: 90px;
  }
}

@media (max-width: 375px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 15px;
  }
  .navbar__logogit {
    width: 90px;
  }
}

.hero {
  padding: 50px 0 48px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text__title {
  margin-top: 28px;
  margin-bottom: 37px;
  margin-left: -3px;
  color: #333333;
  font-size: 41px;
  line-height: 55px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
}

.hero-text__subtitle {
  font-size: 20px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-bottom: 69px;
}

.hero-list {
  margin: 0;
  padding: 0;
  max-width: 315px;
}

.hero-list img {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.hero-list__item:nth-child(2) {
  margin-bottom: 22px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__img {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
  max-width: 245px;
  font-size: 14px;
  line-height: 24px;
}

.hero-img {
  margin-top: -2px;
}

.hero-img img {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 40px;
  }
  .hero-text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 13px;
  }
  .hero-text__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 13px;
    margin-top: 0;
  }
  .hero-text__subtitle {
    margin-bottom: 50px;
    font-size: 16px;
  }
  .hero-list {
    margin-bottom: 20px;
  }
  .hero-list__item:last-child {
    margin-bottom: 26px;
  }
  .hero-list__img {
    margin-right: 15px;
  }
  .hero-list__text {
    max-width: 200px;
    font-size: 12px;
  }
}

.offer.section {
  padding-top: 78px;
}

.offer {
  background: url("../img/offer/offer__bg.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
}

.offer-block {
  position: relative;
  padding-top: 0;
  height: 100%;
  max-width: 50%;
  padding-right: 90px;
}

.offer__title {
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: left;
  max-width: 360px;
  margin-bottom: 18px;
}

.offer__subtitle {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
  max-width: 250px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  font-size: 16px;
  padding: 24px 25px 26px 25px;
}

.offer-description {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-description__timing {
  width: 260px;
  margin-right: 71px;
  font-size: 15px;
  max-width: 225px;
  line-height: 24px;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
}

.offer-description__phone {
  margin-top: -1px;
  font-size: 15px;
  line-height: 24px;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  color: #333333;
}

.offer-description__phone a {
  display: block;
  padding-top: 1px;
  margin-left: -2px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer:before {
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
  }
  .offer-block {
    padding-right: 20px;
    max-width: 60%;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    max-width: 100%;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-description {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer-description__timing {
    text-align: center;
    width: 50%;
    font-size: 13px;
  }
  .offer-description__phone {
    text-align: center;
    width: 50%;
    font-size: 13px;
  }
  .offer__button {
    margin-top: 30px;
    line-height: 18px;
    font-size: 14px;
    padding: 19px 64px;
  }
}

@media (max-width: 425px) {
  .offer {
    padding-top: 50px;
  }
  .offer-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .offer__title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  .offer__subtitle {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 27px;
  }
  .offer-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-description__timing {
    text-align: start;
    width: 100%;
    font-size: 15px;
    margin-bottom: 18px;
  }
  .offer-description__phone {
    text-align: start;
    width: 100%;
    font-size: 15px;
  }
}

.portfolio.section {
  padding: 90px 0 100px 0;
  background: #f5f5f5 url(../img/portfolio/portfolio-pattern.jpg) repeat-y center left;
  background-size: 50%;
}

.portfolio.section img {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.portfolio__title {
  max-width: 800px;
  margin: auto;
  margin-bottom: 93px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  color: #333333;
}

.portfolio__arrow {
  max-width: 120px;
  padding-top: 68px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.slider__img {
  margin: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider__item {
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider__item .slick-active:last-of-type {
  border: 1px solid red;
  margin-right: -10px;
}

.slider .slick-active:last-child {
  border: 1px sold red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  min-width: 200px;
  width: 90%;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.top-btn-wrap {
  font-size: 50px;
  position: fixed;
  bottom: 5%;
  right: auto;
  left: auto;
  width: inherit;
  text-align: end;
}

.top-btn__back-to-top {
  color: #7272709a;
  width: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  display: none;
}

.top-btn__back-to-top:hover {
  cursor: pointer;
  font-size: 40px;
  width: 40px;
  color: #ffd2007a;
  border: 2px solid #ffd200;
  border-radius: 50px;
}

.top-btn__back-to-top_active {
  font-size: 40px;
  width: 40px;
  display: inline-block;
}

.top-btn__back-to-top_focus {
  font-size: 40px;
  width: 40px;
  color: #ffd2007a;
  border: 1px solid #ffd200;
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */